* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: #1b92d3;
  color: whitesmoke;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(143, 96, 96, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  gap: .8vw;
}

.logo {
  font-weight: bold;
  font-size: 40px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: center;
  margin: -3px;
}

.logo-icon {
  font-weight: bold;
  font-size: 40px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: center;
  padding-top: 7px;
}

.menu-items {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  width: 100%;
}

.menu-icons {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  width: 100%;
}

i {
  padding-top: 2px;
}

ul.menu-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

li {
  list-style-type: none;
  padding-bottom: 2vh;
  font-weight: bold;
  justify-self: start;
  align-self: center;
}

.header {
  background-color: #ffffff;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  box-shadow: rgba(143, 96, 96, 0.2) 0px 2px 8px 0px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
}

.header-top-left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top-right {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.header-bottom-right {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 0px 2vw 0px 2vw;
}

.header-bottom-left{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.header-bottom-left-left{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

.header-bottom-left-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #1b92d3;
  border-radius: 40px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 35px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

input {
  width: 90%;
  height: 3vh;
  border-radius: 12px;
  margin-left: 5px;
  background-color: #e2e8ef;
  padding-left: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.main-content {
  display: grid;
  background-color: #e2e8ef;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

.left-main-content-header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  justify-self: start;
  align-self: end;
  font-weight: bold;
  margin-left: 9px;
  padding-bottom: 1vh;
}

.left-main-content {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 9px;
  margin: 0px 9px 0px 9px;
}

.article {
  padding-left: 10px;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  border-radius: 10px;
  border-left: 5px solid #f0b429;
  justify-items: start;
  align-items: end;
  font-weight: bold;
  box-shadow: rgba(143, 96, 96, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}

p {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding-top: 15px;
  justify-self: start;
  align-self: start;
  font-weight: normal;
  text-align: left;
  color: #6d6565;
  font-size: 14px;
}

.article-icons {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1vw;
}

.right-main-content-header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  justify-self: start;
  align-self: end;
  font-weight: bold;
  padding-bottom: 1vh;
}

/* Next step -- make 2 cards within right main content. Could be grid (like left cards) or flexbox since one dimensional*/

.right-main-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 4fr 1fr 4fr;
  grid-template-columns: 1fr;
}

.right-main-top-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(143, 96, 96, 0.2) 0px 2px 8px 0px;
  grid-row: 1 / 2;
  grid-column: 1/2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.container-one,
.container-two,
.container-three {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 12px 0px 12px 0px;
}

.container-three {
  border-bottom: 0px;
}

p.flexer {
  padding: 0px;
  font-size: 10px;
  margin-bottom: 3px;
}

.right-main-middle-content {
  border-radius: 10px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  justify-self: start;
  align-self: end;
  font-weight: bold;
  padding-bottom: 1vh;
}

.right-main-bottom-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(143, 96, 96, 0.2) 0px 2px 8px 0px;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 15px;
  justify-items: start;
}

.icon-one {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.icon-two {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.icon-three {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.icon-four {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.icon-one-content {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 0.7rem;
  padding: 15px 0px 15px 0px;
}

.icon-one-name {
  color: #6d6565;
}

.icon-two-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 0.7rem;
  padding: 15px 0px 15px 0px;
}

.icon-two-name {
  color: #6d6565;
}

.icon-three-content {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 0.7rem;
  padding: 15px 0px 15px 0px;
}

.icon-three-name {
  color: #6d6565;
}

.icon-four-content {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 0.7rem;
  padding: 15px 0px 15px 0px;
}

.icon-four-name {
  color: #6d6565;
}

.pro-pic {
  max-height: 5vh;
  max-width: 5vw;
  border-radius: 50%;
}

.large-pro-pic {
  max-height: 7vh;
  max-width: 7vw;
  border-radius: 50%;
}

.material-icons, .material-icons-outlined {
  cursor: pointer;
}

li {
  cursor: pointer;
}